autostart
Code
dconf
Docker\ Desktop/
ibus
dunst
enchant
eog
evolution
gedit
.git
.gitignore
gnome-control-center
gnome-initial-setup-done
gnome-session
goa-1.0
.gsd-keyboard.settings-ported
gtk-3.0
gtk-4.0
kazam
libreoffice
mimeapps.list
monitors.xml
monitors.xml~
nautilus
pgadmin
pgadmin4
procps
pulse
QtProject.conf
safeeyes
sublime-text
totem
update-notifier
user-dirs.dirs
user-dirs.locale
VirtualBox
